## 1. The World Bank's international debt data
<p>It's not that we humans only take debts to manage our necessities. A country may also take debt to manage its economy. For example, infrastructure spending is one costly ingredient required for a country's citizens to lead comfortable lives. <a href="https://www.worldbank.org">The World Bank</a> is the organization that provides debt to countries.</p>
<p>In this notebook, we are going to analyze international debt data collected by The World Bank. The dataset contains information about the amount of debt (in USD) owed by developing countries across several categories. We are going to find the answers to questions like: </p>
<ul>
<li>What is the total amount of debt that is owed by the countries listed in the dataset?</li>
<li>Which country owns the maximum amount of debt and what does that amount look like?</li>
<li>What is the average amount of debt owed by countries across different debt indicators?</li>
</ul>
<p><img src="https://assets.datacamp.com/production/project_754/img/image.jpg" alt></p>
<p>The first line of code connects us to the <code>international_debt</code> database where the table <code>international_debt</code> is residing. Let's first <code>SELECT</code> <em>all</em> of the columns from the <code>international_debt</code> table. Also, we'll limit the output to the first ten rows to keep the output clean.</p>

In [16]:
%%sql
postgresql:///international_debt
    
    SELECT * 
    FROM international_debt
    lIMIT 10;

10 rows affected.

[('Afghanistan', 'AFG', 'Disbursements on external debt, long-term (DIS, current US$)', 'DT.DIS.DLXF.CD', Decimal('72894453.700000003')),
 ('Afghanistan', 'AFG', 'Interest payments on external debt, long-term (INT, current US$)', 'DT.INT.DLXF.CD', Decimal('53239440.100000001')),
 ('Afghanistan', 'AFG', 'PPG, bilateral (AMT, current US$)', 'DT.AMT.BLAT.CD', Decimal('61739336.899999999')),
 ('Afghanistan', 'AFG', 'PPG, bilateral (DIS, current US$)', 'DT.DIS.BLAT.CD', Decimal('49114729.399999999')),
 ('Afghanistan', 'AFG', 'PPG, bilateral (INT, current US$)', 'DT.INT.BLAT.CD', Decimal('39903620.100000001')),
 ('Afghanistan', 'AFG', 'PPG, multilateral (AMT, current US$)', 'DT.AMT.MLAT.CD', Decimal('39107845')),
 ('Afghanistan', 'AFG', 'PPG, multilateral (DIS, current US$)', 'DT.DIS.MLAT.CD', Decimal('23779724.300000001')),
 ('Afghanistan', 'AFG', 'PPG, multilateral (INT, current US$)', 'DT.INT.MLAT.CD', Decimal('13335820')),
 ('Afghanistan', 'AFG', 'PPG, official creditors (AMT, current US$)', 'DT.AMT.OFFT.CD', Decimal('100847181.900000006')),
 ('Afghanistan', 'AFG', 'PPG, official creditors (DIS, current US$)', 'DT.DIS.OFFT.CD', Decimal('72894453.700000003'))]

## 2. Finding the number of distinct countries
<p>From the first ten rows, we can see the amount of debt owed by <em>Afghanistan</em> in the different debt indicators. But we do not know the number of different countries we have on the table. There are repetitions in the country names because a country is most likely to have debt in more than one debt indicator. </p>
<p>Without a count of unique countries, we will not be able to perform our statistical analyses holistically. In this section, we are going to extract the number of unique countries present in the table. </p>

In [18]:
%%sql

SELECT COUNT( DISTINCT country_name) AS total_distinct_countries
FROM international_debt

 * postgresql:///international_debt
1 rows affected.

[(124,)]

## 3. Finding out the distinct debt indicators
<p>We can see there are a total of 124 countries present on the table. As we saw in the first section, there is a column called <code>indicator_name</code> that briefly specifies the purpose of taking the debt. Just beside that column, there is another column called <code>indicator_code</code> which symbolizes the category of these debts. Knowing about these various debt indicators will help us to understand the areas in which a country can possibly be indebted to. </p>

In [20]:
%%sql

SELECT DISTINCT indicator_code as distinct_debt_indicators
FROM international_debt
ORDER BY distinct_debt_indicators

 * postgresql:///international_debt
25 rows affected.

[('DT.AMT.BLAT.CD',),
 ('DT.AMT.DLXF.CD',),
 ('DT.AMT.DPNG.CD',),
 ('DT.AMT.MLAT.CD',),
 ('DT.AMT.OFFT.CD',),
 ('DT.AMT.PBND.CD',),
 ('DT.AMT.PCBK.CD',),
 ('DT.AMT.PROP.CD',),
 ('DT.AMT.PRVT.CD',),
 ('DT.DIS.BLAT.CD',),
 ('DT.DIS.DLXF.CD',),
 ('DT.DIS.MLAT.CD',),
 ('DT.DIS.OFFT.CD',),
 ('DT.DIS.PCBK.CD',),
 ('DT.DIS.PROP.CD',),
 ('DT.DIS.PRVT.CD',),
 ('DT.INT.BLAT.CD',),
 ('DT.INT.DLXF.CD',),
 ('DT.INT.DPNG.CD',),
 ('DT.INT.MLAT.CD',),
 ('DT.INT.OFFT.CD',),
 ('DT.INT.PBND.CD',),
 ('DT.INT.PCBK.CD',),
 ('DT.INT.PROP.CD',),
 ('DT.INT.PRVT.CD',)]

## 4. Totaling the amount of debt owed by the countries
<p>As mentioned earlier, the financial debt of a particular country represents its economic state. But if we were to project this on an overall global scale, how will we approach it?</p>
<p>Let's switch gears from the debt indicators now and find out the total amount of debt (in USD) that is owed by the different countries. This will give us a sense of how the overall economy of the entire world is holding up.</p>

In [22]:
%%sql
SELECT ROUND(SUM(debt),2)/1000000 AS total_debt_in_USD
FROM international_debt; 

#shorten the figure
SELECT CAST(ROUND(SUM(debt)/1000000, 2) AS NUMERIC(10, 2)) AS total_debt_in_USD
FROM international_debt;

 * postgresql:///international_debt
1 rows affected.
(psycopg2.ProgrammingError) syntax error at or near "#"
LINE 1: #shorten the figure
        ^
 [SQL: '#shorten the figure\nSELECT CAST(ROUND(SUM(debt)/1000000, 2) AS NUMERIC(10, 2)) AS total_debt_in_USD\nFROM international_debt;'] (Background on this error at: http://sqlalche.me/e/f405)

## 5. Country with the highest debt
<p>"Human beings cannot comprehend very large or very small numbers. It would be useful for us to acknowledge that fact." - <a href="https://en.wikipedia.org/wiki/Daniel_Kahneman">Daniel Kahneman</a>. That is more than <em>3 million <strong>million</strong></em> USD, an amount which is really hard for us to fathom. </p>
<p>Now that we have the exact total of the amounts of debt owed by several countries, let's now find out the country that owns the highest amount of debt along with the amount. <strong>Note</strong> that this debt is the sum of different debts owed by a country across several categories. This will help to understand more about the country in terms of its socio-economic scenarios. We can also find out the category in which the country owns its highest debt. But we will leave that for now. </p>

In [24]:
%%sql
SELECT 
    country_name, 
    CAST(ROUND(SUM(debt)/1000000, 2) AS NUMERIC(10, 2)) AS total_debt_in_USD
FROM international_debt
GROUP BY country_name
ORDER BY total_debt_in_USD DESC;

 * postgresql:///international_debt
124 rows affected.

[('China', Decimal('285793.49')),
 ('Brazil', Decimal('280623.97')),
 ('South Asia', Decimal('247608.72')),
 ('Least developed countries: UN classification', Decimal('212880.99')),
 ('Russian Federation', Decimal('191289.06')),
 ('IDA only', Decimal('179048.13')),
 ('Turkey', Decimal('151125.76')),
 ('India', Decimal('133627.06')),
 ('Mexico', Decimal('124596.79')),
 ('Indonesia', Decimal('113435.70')),
 ('Cameroon', Decimal('86491.21')),
 ('Angola', Decimal('71368.84')),
 ('Kazakhstan', Decimal('70159.94')),
 ('Egypt, Arab Rep.', Decimal('62077.73')),
 ('Vietnam', Decimal('45851.30')),
 ('Colombia', Decimal('45430.12')),
 ('Pakistan', Decimal('45139.32')),
 ('Romania', Decimal('42813.98')),
 ('South Africa', Decimal('36703.94')),
 ('Venezuela, RB', Decimal('36048.26')),
 ('Bangladesh', Decimal('35045.49')),
 ('Lebanon', Decimal('29697.87')),
 ('Ukraine', Decimal('28490.30')),
 ('Sri Lanka', Decimal('26764.50')),
 ('Philippines', Decimal('25151.71')),
 ('Peru', Decimal('24091.78')),
 ('Belarus', Decimal('23273.36')),
 ('Kenya', Decimal('22622.41')),
 ('Morocco', Decimal('21492.17')),
 ('Ecuador', Decimal('17510.98')),
 ('Thailand', Decimal('17236.65')),
 ('Serbia', Decimal('14740.35')),
 ('Georgia', Decimal('14379.87')),
 ('Tunisia', Decimal('14223.41')),
 ('Nigeria', Decimal('14149.91')),
 ('Ethiopia', Decimal('13718.63')),
 ('Ghana', Decimal('11462.31')),
 ('Dominican Republic', Decimal('10351.69')),
 ('Mongolia', Decimal('9847.25')),
 ('Uzbekistan', Decimal('9532.70')),
 ('Zambia', Decimal('9430.51')),
 ('El Salvador', Decimal('9411.61')),
 ('Papua New Guinea', Decimal('8784.11')),
 ('Azerbaijan', Decimal('8753.73')),
 ('Costa Rica', Decimal('8616.33')),
 ('Jordan', Decimal('8472.72')),
 ('Lao PDR', Decimal('8356.39')),
 ('Guatemala', Decimal('7932.84')),
 ('Bolivia', Decimal('7889.15')),
 ('Tanzania', Decimal('7798.05')),
 ("Cote d'Ivoire", Decimal('7141.83')),
 ('Senegal', Decimal('7119.02')),
 ('Bosnia and Herzegovina', Decimal('6685.44')),
 ('Bulgaria', Decimal('6369.10')),
 ('Uganda', Decimal('6139.13')),
 ('Myanmar', Decimal('6130.61')),
 ('Paraguay', Decimal('5774.79')),
 ('Nicaragua', Decimal('5399.24')),
 ('Mauritius', Decimal('4787.13')),
 ('Kyrgyz Republic', Decimal('4656.98')),
 ('Mozambique', Decimal('4608.73')),
 ('Cambodia', Decimal('4229.63')),
 ('Jamaica', Decimal('3981.34')),
 ('Sudan', Decimal('3835.10')),
 ('Armenia', Decimal('3834.88')),
 ('Macedonia, FYR', Decimal('3502.01')),
 ('Nepal', Decimal('3405.71')),
 ('Moldova', Decimal('3338.41')),
 ('Albania', Decimal('3217.07')),
 ('Gabon', Decimal('3187.71')),
 ('Mauritania', Decimal('3184.70')),
 ('Montenegro', Decimal('2992.52')),
 ('Mali', Decimal('2604.52')),
 ('Yemen, Rep.', Decimal('2552.70')),
 ('Honduras', Decimal('2543.92')),
 ('Benin', Decimal('2535.18')),
 ('Niger', Decimal('2478.42')),
 ('Burkina Faso', Decimal('2419.21')),
 ('Congo, Dem. Rep.', Decimal('2239.10')),
 ('Syrian Arab Republic', Decimal('1840.06')),
 ('Madagascar', Decimal('1739.97')),
 ('Bhutan', Decimal('1692.24')),
 ('Chad', Decimal('1575.43')),
 ('Tajikistan', Decimal('1565.02')),
 ('Congo, Rep.', Decimal('1519.29')),
 ('Zimbabwe', Decimal('1264.22')),
 ('Rwanda', Decimal('1263.04')),
 ('Maldives', Decimal('1253.47')),
 ('Togo', Decimal('1021.01')),
 ('Kosovo', Decimal('948.08')),
 ('Djibouti', Decimal('942.10')),
 ('Afghanistan', Decimal('680.94')),
 ('Guinea', Decimal('676.61')),
 ('Botswana', Decimal('646.09')),
 ('Guyana', Decimal('627.92')),
 ('Malawi', Decimal('626.94')),
 ('Belize', Decimal('607.06')),
 ('Cabo Verde', Decimal('596.64')),
 ('Algeria', Decimal('522.97')),
 ('Liberia', Decimal('520.19')),
 ('Eswatini', Decimal('475.44')),
 ('Iran, Islamic Rep.', Decimal('463.66')),
 ('Gambia, The', Decimal('435.51')),
 ('Lesotho', Decimal('435.35')),
 ('Fiji', Decimal('422.78')),
 ('Sierra Leone', Decimal('417.31')),
 ('Haiti', Decimal('299.42')),
 ('Burundi', Decimal('281.99')),
 ('Grenada', Decimal('273.84')),
 ('Central African Republic', Decimal('201.53')),
 ('St. Vincent and the Grenadines', Decimal('200.06')),
 ('St. Lucia', Decimal('188.05')),
 ('Vanuatu', Decimal('171.63')),
 ('Guinea-Bissau', Decimal('169.54')),
 ('Dominica', Decimal('138.04')),
 ('Eritrea', Decimal('132.49')),
 ('Somalia', Decimal('119.61')),
 ('Samoa', Decimal('112.95')),
 ('Solomon Islands', Decimal('105.10')),
 ('Turkmenistan', Decimal('95.14')),
 ('Timor-Leste', Decimal('71.00')),
 ('Comoros', Decimal('57.57')),
 ('Tonga', Decimal('55.21')),
 ('Sao Tome and Principe', Decimal('44.80'))]

## 6. Average amount of debt across indicators
<p>So, it was <em>China</em>. A more in-depth breakdown of China's debts can be found <a href="https://datatopics.worldbank.org/debt/ids/country/CHN">here</a>. </p>
<p>We now have a brief overview of the dataset and a few of its summary statistics. We already have an idea of the different debt indicators in which the countries owe their debts. We can dig even further to find out on an average how much debt a country owes? This will give us a better sense of the distribution of the amount of debt across different indicators.</p>

In [26]:
%%sql
SELECT 
    indicator_code AS debt_indicator,
    indicator_name,
    ROUND(AVG(debt)/1000000, 2) AS average_debt
FROM international_debt
GROUP BY 1,2
ORDER BY average_debt DESC
LIMIT 10;

 * postgresql:///international_debt
10 rows affected.

[('DT.AMT.DLXF.CD', 'Principal repayments on external debt, long-term (AMT, current US$)', Decimal('5904.87')),
 ('DT.AMT.DPNG.CD', 'Principal repayments on external debt, private nonguaranteed (PNG) (AMT, current US$)', Decimal('5161.19')),
 ('DT.DIS.DLXF.CD', 'Disbursements on external debt, long-term (DIS, current US$)', Decimal('2152.04')),
 ('DT.DIS.OFFT.CD', 'PPG, official creditors (DIS, current US$)', Decimal('1958.98')),
 ('DT.AMT.PRVT.CD', 'PPG, private creditors (AMT, current US$)', Decimal('1803.69')),
 ('DT.INT.DLXF.CD', 'Interest payments on external debt, long-term (INT, current US$)', Decimal('1644.02')),
 ('DT.DIS.BLAT.CD', 'PPG, bilateral (DIS, current US$)', Decimal('1223.14')),
 ('DT.INT.DPNG.CD', 'Interest payments on external debt, private nonguaranteed (PNG) (INT, current US$)', Decimal('1220.41')),
 ('DT.AMT.OFFT.CD', 'PPG, official creditors (AMT, current US$)', Decimal('1191.19')),
 ('DT.AMT.PBND.CD', 'PPG, bonds (AMT, current US$)', Decimal('1082.62'))]

## 7. The highest amount of principal repayments
<p>We can see that the indicator <code>DT.AMT.DLXF.CD</code> tops the chart of average debt. This category includes repayment of long term debts. Countries take on long-term debt to acquire immediate capital. More information about this category can be found <a href="https://datacatalog.worldbank.org/principal-repayments-external-debt-long-term-amt-current-us-0">here</a>. </p>
<p>An interesting observation in the above finding is that there is a huge difference in the amounts of the indicators after the second one. This indicates that the first two indicators might be the most severe categories in which the countries owe their debts.</p>
<p>We can investigate this a bit more so as to find out which country owes the highest amount of debt in the category of long term debts (<code>DT.AMT.DLXF.CD</code>). Since not all the countries suffer from the same kind of economic disturbances, this finding will allow us to understand that particular country's economic condition a bit more specifically. </p>

In [28]:
%%sql
SELECT
    country_name,
    indicator_name, 
    debt
FROM international_debt

WHERE debt = (select max(debt) FROM international_debt
             WHERE  indicator_code = 'DT.AMT.DLXF.CD')
ORDER BY debt DESC

 * postgresql:///international_debt
1 rows affected.

[('China', 'Principal repayments on external debt, long-term (AMT, current US$)', Decimal('96218620835.699996948'))]

## 8. The most common debt indicator
<p>China has the highest amount of debt in the long-term debt (<code>DT.AMT.DLXF.CD</code>) category. This is verified by <a href="https://data.worldbank.org/indicator/DT.AMT.DLXF.CD?end=2018&most_recent_value_desc=true">The World Bank</a>. It is often a good idea to verify our analyses like this since it validates that our investigations are correct. </p>
<p>We saw that long-term debt is the topmost category when it comes to the average amount of debt. But is it the most common indicator in which the countries owe their debt? Let's find that out. </p>

In [30]:
%%sql

Select
       DISTINCT indicator_code, 
       count(indicator_code) AS indicator_count
FROM international_debt
GROUP BY 1
ORDER BY indicator_count DESC, indicator_code DESC
LIMIT 20

 * postgresql:///international_debt
20 rows affected.

[('DT.INT.OFFT.CD', 124),
 ('DT.INT.MLAT.CD', 124),
 ('DT.INT.DLXF.CD', 124),
 ('DT.AMT.OFFT.CD', 124),
 ('DT.AMT.MLAT.CD', 124),
 ('DT.AMT.DLXF.CD', 124),
 ('DT.DIS.DLXF.CD', 123),
 ('DT.INT.BLAT.CD', 122),
 ('DT.DIS.OFFT.CD', 122),
 ('DT.AMT.BLAT.CD', 122),
 ('DT.DIS.MLAT.CD', 120),
 ('DT.DIS.BLAT.CD', 113),
 ('DT.INT.PRVT.CD', 98),
 ('DT.AMT.PRVT.CD', 98),
 ('DT.INT.PCBK.CD', 84),
 ('DT.AMT.PCBK.CD', 84),
 ('DT.INT.DPNG.CD', 79),
 ('DT.AMT.DPNG.CD', 79),
 ('DT.INT.PBND.CD', 69),
 ('DT.AMT.PBND.CD', 69)]

## 9. Other viable debt issues and conclusion
<p>There are a total of six debt indicators in which all the countries listed in our dataset have taken debt. The indicator <code>DT.AMT.DLXF.CD</code> is also there in the list. So, this gives us a clue that all these countries are suffering from a common economic issue. But that is not the end of the story, but just a part of the story.</p>
<p>Let's change tracks from <code>debt_indicator</code>s now and focus on the amount of debt again. Let's find out the maximum amount of debt that each country has. With this, we will be in a position to identify the other plausible economic issues a country might be going through.</p>
<p>In this notebook, we took a look at debt owed by countries across the globe. We extracted a few summary statistics from the data and unraveled some interesting facts and figures. We also validated our findings to make sure the investigations are correct.</p>

In [32]:
%%sql

SELECT country_name, 
       MAX(debt) as maximum_debt
FROM international_debt
GROUP BY country_name
ORDER BY maximum_debt DESC
LIMIT 10;

 * postgresql:///international_debt
10 rows affected.

[('China', Decimal('96218620835.699996948')),
 ('Brazil', Decimal('90041840304.100006104')),
 ('Russian Federation', Decimal('66589761833.5')),
 ('Turkey', Decimal('51555031005.800003052')),
 ('South Asia', Decimal('48756295898.199996948')),
 ('Least developed countries: UN classification', Decimal('40160766261.599998474')),
 ('IDA only', Decimal('34531188113.199996948')),
 ('India', Decimal('31923507000.799999237')),
 ('Indonesia', Decimal('30916112653.799999237')),
 ('Kazakhstan', Decimal('27482093686.400001526'))]